<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--  导入hibernate相关配置-->
    <import resource="hibernateApplication.xml"/>


    <!--Action  移交spring管理后 scope="prototype"设为多例  且手动注入-->

    <bean id="accountAction" class="com.hbut.web.AccountAction" scope="prototype">
        <property name="accountService" ref="accountService"/>
    </bean>

    <!--service-->
    <bean id="accountService" class="com.hbut.service.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"/>
    </bean>
        
    <!--Dao-->
    <bean id="accountDao" class="com.hbut.dao.AccountDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>








</beans>